/* Body CSS */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

/* Header CSS */
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: #4e5254;
  border-radius: 0;
  border-bottom: 10px solid #4e5254;
}

/* Planner CSS */
input {
  background-color: transparent !important;
}

#currentDay {
  font-size: 18px;
  font-weight: bold;
}

.pro {
  color: white;
  background-color: #0275d8;
  color: white;
  padding: 5px;
  border-radius: 7px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.saveBtn {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: white;
}

.saveBtn:hover {
  background-color: #013663;
  border: solid 1px #013663;
  cursor: pointer;
}

/* Time block colors to indicate past, present, and future entries */
.past {
  background-color: #dbdbdb;
  color: white;
}

.present {
  background-color: #ffb2ae;
  color: white;
}

.future {
  background-color: #b4ecb4;
  color: white;
}